*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: "Basis Grotesque Pro", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: left;
    font-style: normal;
}


.text-300{
    font-weight: 300;
}

.text-400{
    font-weight: 400;
}

.text-700{
    font-weight: 700;
}

.text-uppercase{
    text-transform: uppercase;
}


.sub-title--blue{
    color: #0536FC;
}

.sub-title--black{
    color: #000;
}

.title{
    font-size: 38px;
    font-weight: 700;
    line-height: 42px;
    color: #000000;
    text-transform: uppercase;
    font-family: Basis Grotesque Pro;
    letter-spacing: -0.03em;
    text-align: left;

}

.container{
    max-width: 1460px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

.invest-content-and-block{
    margin-top: 150px;
    margin-bottom: 150px;
}

.invest-content-and-block__container{
    max-width: 1150px;
    width: 100%;
    margin-left: auto;
}

.invest-content__sub-title{
    margin-bottom: 30px;
}

.invest-content__title-bottom{
    margin-bottom: 70px;
    margin-right: 85px;
}

.invest-block{
    display: flex;
    justify-content: space-between;
}

.invest-block__payment{
    display: flex;
    flex-direction: column;
    gap: 48px;
}


.form__payment-method{
    display: flex;
    gap: 30px;
}

.payment-method-options__inner{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 15px;
}

/* <!-- Пробував зробити касмний радіоботон на базі структури кастомного чексбоксу - в мене не вийшло --> */


/* .invest-block__payment-method-options{
    margin-bottom: 48px;
} */

/* .radio {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.radio__input {
    display: none;
}

.radio__checkmark{
    display: flex;
    width: 20px;
    height: 20px;
    border: 1px solid #00000026;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
    padding-left: 1px;
}
  
.radio__checkmark::before {
    content: "";
    display: block;
    width: 10px;
    height: 7px;
    border-bottom: 0.7px solid #0536FC;
    border-left: 0.7px solid #0536FC;
    transform: rotate(-45deg);
    opacity: 0;
    margin-bottom: 3px;
}
  
.radio__input:checked ~ .checkbox__checkmark::before {
    opacity: 1;
}

.radio__text{
    margin-left: 15px;
    margin-right: 8px;
} */



.invest-block__payment-method-title{
    margin-bottom: 30px;
}

.invest-block__payment-method-amount{
    margin-bottom: 20px;
}


.invest-block__payment-sign-in{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 25px;}

.form__inner{
    max-width: 385px;
}

.form__input{
    display: block;
    width: 100%;
    border: 0;
    margin-top: 20px;
}

.form__input::placeholder{
    font-family: "Basis Grotesque Pro", Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: left;
    font-style: normal;
    color: #000;
    opacity: 35%;
}

.form__input:focus,
.form__input:active {
    outline: 2px solid #C4C4C4;
}


.form__img{
    width: 100%;
}

.privacy-checkbox{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.checkbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
}

.checkbox__input {
    display: none;
}

.checkbox__checkmark{
    display: flex;
    width: 20px;
    height: 20px;
    border: 1px solid #00000026;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
    padding-left: 1px;
}
  
.checkbox__checkmark::before {
    content: "";
    display: block;
    width: 10px;
    height: 7px;
    border-bottom: 0.7px solid #0536FC;
    border-left: 0.7px solid #0536FC;
    transform: rotate(-45deg);
    opacity: 0;
    margin-bottom: 3px;
}
  
.checkbox__input:checked ~ .checkbox__checkmark::before {
    opacity: 1;
}

.checkbox__text{
    margin-left: 15px;
    margin-right: 8px;
}

.button{
    width: 213px;
    height: 55px;
    padding: 16px 60px;
    background: #0536FC;
    color: #FFFFFF;
    border: 0;
    font-family: "Basis Grotesque Pro", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: left;
    font-style: normal;
}

.invest-block__payment-method-amount{
    display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.invest-block__amount-button-50000{
    grid-area: 1 / 1 / 2 / 2;
}
.invest-block__amount-button-30000{
    grid-area: 1 / 2 / 2 / 3;
    
}
.invest-block__amount-button-10000{
    grid-area: 1 / 3 / 2 / 4;
}
.invest-block__amount-button-1000 {
    grid-area: 1 / 4 / 2 / 5;
}
.invest-block__form-amount{
    grid-area: 2 / 1 / 3 / 5;
}

/* Я не зрозумів як зробити бордери для кнопок і для інпута як на макеті */

.button-amount{
    width: 160px;
    height: 50px;
    padding: 13px 51px;
    background: transparent;
    color: #000000;
    border: 0;
    font-family: "Basis Grotesque Pro", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: left;
    font-style: normal;
}

.button-amount:active{
    background: #0536FC;
    color: #FFFFFF;
}

.form__inner-amount{
    max-width: 635px;
}

.form__input-amount{
    display: block;
    width: 100%;
    border: 0;
    padding: 13px 0 13px 35px;
}

.form__input-amount::placeholder{
    font-family: "Basis Grotesque Pro", Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: left;
    font-style: normal;
    color: #000;
    opacity: 35%;
}

.form__input:focus,
.form__input:active {
    outline: 2px solid #C4C4C4;
}

@media (max-width: 1200px){
    .invest-block{
        flex-direction: column;
        gap: 30px;
    } 

}