.filter-and-catalog{
    display: flex;
    gap: 30px;
    justify-content: space-between;
}


.filter{
    min-width: 85px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;

    &__link{
        margin-bottom: 5px;
    }

    &__arrow{
        width: 8px;
        height: 4px;
        margin-left: 5px;
        margin-bottom: 2px;
    }

    &__checkbox{
        display: flex;
        flex-direction: column;
        gap: 5px
    }

}


.checkbox{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;


    &__input{
        display: none;
    }
    
    &__checkmark{
        display: flex;
        width: 10px;
        height: 10px;
        border: 1px solid #565656;
        align-items: center;
        justify-content: center;
        margin-bottom: 1px;
        padding-left: 1px;
    }
    
    &__checkmark::before{
        content: '';
        display: block;
        width: 5px;
        height: 2px;
        border-bottom: 1px solid #565656;
        border-left: 1px solid #565656;
        transform: rotate(-45deg);
        opacity: 0;
    }
    
    &__input:checked~.checkbox__checkmark::before{
        opacity: 1;
    }


}


@media (max-width: 1200px){
    .filter{
        display: none;
    }  
}





